/* SECTION HEADER */
.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #090909;
  position: relative;
  display: inline-block;
}

.section-header h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background: #ef4524e6;
}

/* CARD */
.vision-card {
  padding: 50px 20px;
  height: 90%;
  position: relative;
  transition: 0.3s;
  text-align: center;
}

/* Short vertical divider between cards */
.col-lg-4:not(:last-child) .vision-card::after {
  content: '';
  position: absolute;
  right: 0;
  top: 45%;
  bottom: 12%;
  width: 1px;
  background: #9a9797;
}

.vision-section-container{
  margin: 0 auto;
  width: 80%;
}

/* REMOVE BORDER FROM LAST CARD */
.col-lg-4:nth-child(3n) .vision-card {
  border-right: none;
}

/* ICON (FIXED PERFECT CIRCLE) */
.vision-card i {
  width: 65px;
  height: 65px;
  background: #ef4524e6; 
  color: #ffffff;
  position: relative;
  left:40%;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  margin: 0 0 40px; 
  transition: 0.3s;
}

/* HOVER EFFECT */
.vision-card:hover i {
 
  transform: translateY(-5px);
}

/* TITLE */
.vision-card h2 {

  margin-bottom: 10px;
}

/* TEXT */
.vision-card p {
  font-size: clamp(14px, 1.5vw, 16px);
  color: #666;
  line-height: 1.6;
}

/* HOVER CARD */
.vision-card:hover {
  transform: translateY(-8px);
}

/* BUTTON STYLING */
.vision-card .btn {
  background: transparent;
  border: none;
  color: black;
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* BUTTON HOVER - RED TEXT ONLY */
.vision-card .btn:hover {
  color: #ef4524e6;
  transform: translateX(5px);
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .col-lg-4:not(:last-child) .vision-card::after {
    right: 15%;
    left: 15%;
    top: auto;
    bottom: 0;
    width: auto;
    height: 1px;
    background: #ddd;
  }

  .vision-card {
    border-right: none;
    border-bottom: none;
    margin-bottom: 15px;
  }
}