.footer-section {
  background: #000000;
  color: #fff;
  padding: 60px 0 0;
}

.logo {
  font-weight: 700;
}

.footer-text {
  color: #cfd3e0;
  margin: 15px 0;
}
.services-section h5 {
  border-bottom: solid 1px #ef4524e6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}



.services-section li{
  
    text-decoration-line: underline ;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s ease;
    text-underline-offset: 6px;
}
.services-section li:hover{
    text-decoration-color: #ef4524e6;
 
}

/* SOCIAL */
.social-icons span {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: #070707;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid #565454;
  cursor: pointer;
}

/* LIST */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  color: #cfd3e0;
  cursor: pointer;
}

/* NEWSLETTER */
.newsletter-box {
  background: #000000;
  padding: 25px;
  border: 1px solid #565454;
}

.newsletter-box p {
  color: #cfd3e0;
}

.input-group {
  display: flex;
  margin-top: 15px;
}

.input-group input {
  flex: 1;
  padding: 10px;
 
  outline: none;
  background: #000000;
  color: white;
  border: 1px solid #565454;
}

.logo img {
  width: 70px;
  height: auto;
}

.input-group button {
  width: 150px;
  border: none;
  background: #ef4524e6;
  color: rgb(255, 253, 253);
  cursor: pointer;
}

/* BOTTOM */
.footer-bottom {
  margin-top: 40px;
  padding: 20px 0;
  border-top: 1px solid #565454;
  background: #010101;
}

.footer-bottom p {
  margin: 0;
  color: #cfd3e0;
}

.links span {
  margin-left: 20px;
  cursor: pointer;
}

.social-icons span:hover {
  color: #ffffffe6;
  background-color: #ef4524e6;
}